<div id="wrapper">
<md-list class="container" flex>
  <md-list-item ng-repeat="task in $ctrl.tasks" ng-click="$ctrl.toggleClick(task)" class="md-3-line" aria-label="list item">
    <md-checkbox aria-label="Checkbox 1">
    </md-checkbox>
    <div class="md-list-item-text" layout="row" >
      <span ng-bind="task.name"></span>
    </div>
  </md-list-item>
</md-list>

<form name="itemForm">
  <md-input-container class="md-block">
    <label>Add an item</label>
    <input md-minlength="1" md-maxlength="100" required md-no-asterisk name="add-an-item" ng-model="$ctrl.title">
    <div ng-messages="itemForm.add-an-item.$error">
      <div ng-message="required">This is required.</div>
      <div ng-message="md-maxlength">Your Todo list item must be between 1 and 100 characters long.</div>
    </div>
    <md-button class="md-raised" ng-click="$ctrl.addItem($ctrl.title)">Add</md-button>
    <md-button class="md-warn md-raised" ng-click="$ctrl.deleteItems()">Delete Selected</md-button>
  </md-input-container>
</form>
</div>
