body {
  margin: 0 auto;
}

md-list-item {
  border: 1px solid #ddd;
  margin: 5px;
}

md-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.05s;
}

#wrapper {
  padding: 40px;
  text-align: center;
  vertical-align: middle;
}
